# Create .gitignore file in each repository
# Custom folders/files
DRAFTS
INFO
data
DebugLogs

*/config.json
*/settings.json

# Python
__pycache__/
build/
dist/
out/
downloads/

# IDE
.vscode/
.git

# OS
Thumbs.db

# Environment
.env
.venv
env/
venv/
ENV/